<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %> 
    <title>Ejemplo de Prueba</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ab eligendi, reiciendis maiores distinctio eaque! Corporis delectus rerum, repellat qui similique doloribus adipisci eos accusamus quia debitis laboriosam, odit quae!
                Provident fuga, vitae eos sunt aliquam aperiam! Minus, soluta omnis! Asperiores, culpa sunt minima animi unde temporibus quia vel quos illum consequatur quaerat autem rerum eos optio eius fuga sapiente?
            </div>
        </div>
    </div>

 <%- include('partials/footer') %>    
</body>
</html>