<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %> 
    <title>Ejemplo de Prueba</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ab eligendi, reiciendis maiores distinctio eaque! Corporis delectus rerum, repellat qui similique doloribus adipisci eos accusamus 
            </div>
        </div>
    </div>

 <%- include('partials/footer') %>    
</body>
</html>